.main {
    position: relative;
}
body {
    font-family: 'Inter', sans-serif;
    color: #FFFF;
    background-color: #2c2b2b;
    line-height: 1.6;
    overflow-x: hidden;
}
.container {
    display: flex;
    width: 100vw;
    height: 50vh;
    gap: 5px; 
    justify-content: center; 
}
.rectangle {
    flex: 1;
    margin: 5px; 
    padding:15px;
    background-color:#565656;
    color:white;
    overflow:hidden;
}
h1
{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 6px;
}
.rectangle h2{
    margin-top:-8px;
    margin-bottom:50px;
}
.rectangle p{
    position:relative;
    top: -40px;  
    margin: 0px;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width:88%;
    display: flex;
    align-items: center;
    padding: 30px;
    padding-left: 200px;
    background-color: black;
}

nav li {
    list-style: none;
    margin-right: 40px;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

nav li a {
    text-decoration: none;
    color: white;
}
.logo img{
    position:relative;
    height:100px;
    width:200px;
    margin-top:-46px;
    margin-bottom:-44px;
    margin-left:-210px;
}
