html, body {
    margin: 0;
    height: 100%;
}

body{
    background-image: url('../Photos/bmw_cars-background.jpg');
    background-size: cover;
    background-position-x: 0;
    background-position-y: -150px;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

body.loaded::after {
    opacity: 1; 
}


