html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

body {
    background-image: url('../Photos/bmw_cars-background.png');
    background-size: cover;
    background-position-y: 95px;
    background-repeat: no-repeat;
    background-color: #2c2b2b;
}

.logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 70px;
    height: 70px;
    animation: rotate 5s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

header {
    text-align: center;
    background-color: #000;
    padding: 20px;
    color: white;
    position: relative;
}

.header-nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.header-nav a {
    margin: 0 15px;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

.header-nav a:hover {
    color: yellow;
}

h1 {
    color: #ffffff;
    font-size: 3rem;
    margin: 0;
}

.logo {
    width: 70px;
    height: 70px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px;
    padding: 40px;
}

.grid-item {
    background-color: #565656;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.grid-item h2 {
    font-size: 1.8rem;
    color: #ffffff;
}

.grid-item p {
    font-size: 1rem;
    color: #bbbbbb;
}

.grid-item:hover,
.special-engine-img:hover {
    transform: scale(1.05);
}

.engine-img, .special-engine-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.special-engine {
    position: relative;
    left: -3%;
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 97.75%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 40px;
    text-align: center;
}

.special-engine-img {
    position: relative;
    left: -1%;
    width: 500px;
    transition: transform 0.3s ease-in-out;
}
