@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #2c2b2b;
  color: #333;
  line-height: 1.6;
}

.brands-container {
  max-width: 1600px;
  margin: clamp(2rem, 5vw, 4rem) auto;
  padding: 0 clamp(1rem, 3vw, 2rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(1rem, 3vw, 2rem);
  position: relative;

}

.logo {
  position: absolute;
  top: 15px;
  left: 30px;
  width: 70px;
  height: 70px;
  animation: rotate 5s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main
{
  position: relative;
  width: 100%;
  height: 100px;
}
