body{
    background: #2c2b2b;

}
#map {
    margin-left: 5%;
    margin-top: -900fpx;
    height: 90vh;
    width: 90%;
}
.legend {
    background: #2c2b2b;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}
.legend div {
    margin-bottom: 5px;
}
.legend .color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.dark-mode {
    background-color: #181818;
    color: white;
}